<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="brand-icon">📊</span> VoIPTools Reporting
        </a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reportbuilder">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Report Builder
            </NavLink>
        </div>
    </nav>
</div>

@code {
    // Sidebar is always visible on desktop - no collapse needed
}
