@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoIPTools Report Designer</title>
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="_content/DevExpress.Blazor.Themes/blazing-berry.bs5.min.css" />
    <!-- DevExpress Reporting - use auto-bundled assets -->
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <div class="page">
        <NavMenu @rendermode="InteractiveServer" />

        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/DevExpress.Blazor/dx-blazor.js"></script>
</body>

</html>
