@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VoIPTools Report Builder</title>
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="_content/DevExpress.Blazor.Themes/blazing-berry.bs5.min.css" />
    <link rel="stylesheet" href="reportbuilder.css" />
    <!-- DevExpress Reporting CSS -->
    <link rel="stylesheet" href="_content/DevExpress.Blazor.Reporting.Viewer/css/dx-blazor-reporting-components.bs5.css" />
    <link rel="stylesheet" href="_content/DevExpress.Blazor.Reporting.JSBasedControls/css/dx-blazor-reporting-components.bs5.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <div class="page">
        <NavMenu @rendermode="InteractiveServer" />

        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/DevExpress.Blazor/dx-blazor.js"></script>
    <!-- DevExpress Reporting JS -->
    <script src="_content/DevExpress.Blazor.Reporting.Viewer/js/dx-blazor-reporting-components.js"></script>
    <script src="_content/DevExpress.Blazor.Reporting.JSBasedControls/js/dx-blazor-reporting-components.js"></script>
    <script>
        // File download function for exports
        window.downloadFile = (fileName, base64Content, mimeType) => {
            const link = document.createElement('a');
            link.href = `data:${mimeType};base64,${base64Content}`;
            link.download = fileName;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };
    </script>
</body>

</html>
